html, body{
    height: 100%;
    width: 100%;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EFF0F2;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: clamp(70px, 6%, 100px);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #465158;
    overflow-x: hidden;
    transform: translateX(0); 
    transition: width 0.1s ease;
    padding-top: 0px;
    border-radius: 0 6px 6px 0;
    box-shadow: 8px 4px 4px rgba(0, 0, 0, 0.2);
}

.sidebar.expanded {
    width: clamp(300px, 30%, 600px);
}

.sidebar:not(.expanded){
    align-items: center;
    text-align: center;
}

/* Header */
.sidebar:not(.expanded) .sidebar-header{
    padding-top: 10px;
    margin: 0 auto;
}

.sidebar.expanded .sidebar-header {
    background-color: #fefefe;
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
    border-radius: 0 6px 6px 0;
}

.sidebar-logo {
    width: clamp(50px, min(10vh, 10vw), 75px);
    height: clamp(50px, min(10vh, 10vw), 75px);
}

.sidebar-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #000000;
    font-size: 210%;
    display: none;
}

.sidebar.expanded .sidebar-title {
    display: inline-block;
}

/*Search bar*/
.sidebar:not(.expanded) .search-bar {
    visibility: hidden; 
    pointer-events: none; 
}

.sidebar.expanded .search-bar {
    visibility: visible; 
    pointer-events: auto; 
    display: flex;
    align-items: center;
    background-color: #3D464C;
    border-radius: 6px;
    padding: 5px;
    margin-top: clamp(10px, 4%, 20px);
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
}

.search-bar input {
    border: none;
    outline: none;
    padding: 5px;
    font-size: 1rem;
    width: 100%;
    background-color: #3D464C;
    color: white;
}

.autocomplete-results {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    width: 90%; 
    margin-top: 0; 
    display: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    top: clamp(130px, 22vh, 157px);
    left: 5%; 
}

.autocomplete-item {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.autocomplete-item:hover {
    background-color: #f0f0f0;
}

/* Projects */
.sidebar-projects {
    position: relative; 
    top: clamp(10px, 3vh, 20px);;
    left: 0;
    width: 100%; 
    padding: 0;
}

.project-item {
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer;
    margin-bottom: 4px;
    justify-content: space-between;
    height: clamp(80px, 13vh, 100px);
}

.sidebar.expanded .project-item{
    padding-left: clamp(1px, 11%, 15px);
}

.sidebar:not(.expanded) .project-item {
    justify-content: center; 
    text-align: center; 
}


.project-icon {
    display: flex !important;
    align-items: center;
    justify-content: center;
    font-size: clamp(30px, 6vh, 50px) !important; 
    width: clamp(50px, 10vh, 75px);
    height: clamp(50px, 10vh, 75px);
    text-align: center;
    color: #465158;
    vertical-align: middle;
}

.project-icon-wrapper {
    width: clamp(50px, 10vh, 75px);
    height: clamp(50px, 10vh, 75px);
    border-radius: 50%;
    background-color: white;
    border: 4px solid #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}
.project-icon-wrapper.selected{
    border: 10px solid #D9D9D9;
}

.project-label {
    margin-left: 10px;
    display: none;
    font-size: 1.5rem;
}

.sidebar:not(.expanded) #drag-indicator{
    display: none;
}

.sidebar.expanded .project-label {
    display: inline-block;
}

.sidebar.expanded .project-item {
    background-color: #3D464C;
}

.sidebar.expanded .project-item.selected {
    background-color: #d6d6d6;
    color: black;
    border-radius: 50px 6px 6px 50px;
    margin-right: 2%;
    margin-bottom: 2%;
}

.sidebar.expanded .project-item.selected .project-label {
    background-color: white;
    width: clamp(50px, 80%, 500px);
    padding: 5% 1% 5% 1%;
    border-radius: 4px;
}

.project-item #drag-indicator {
    margin-left: auto;
}

.blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 0;
    pointer-events: none;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.sidebar.expanded ~ .blur-overlay {
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(4px);
    opacity: 1;
    z-index: 998; 
}

.sidebar {
    z-index: 999;
}

/*Toolbar*/

.toolbar {
    margin-left: clamp(80px, 7%, 115px);
    width: clamp(calc(100vw - 80px), 92%, calc(100vw - 115px));
    height: clamp(50px, 10%, 80px);
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: clamp(25px, 4%, 80px);
    box-shadow: 6px 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    gap: clamp(10px, 3%, 40px);
    position: fixed;
    top: 0;
    z-index: 900; 
}

.toolbar-icon {
    display: flex !important;
    width: 3vh;
    height: 3vh;
    cursor: pointer;
    padding: 0;
    font-size: 2rem !important;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #3b3e3f;
}

.toolbar-separator {
    width: 1px;
    height: 50%;
    background-color: #0099d8;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex !important;
}

/*main*/
.main {
    height: fit-content;
    min-height: clamp(calc(100vh - 170px), calc(85% - 40px), calc(100vh - 120px));
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-left: clamp(80px, 7%, 115px);
    margin-top: clamp(70px, 9%, 100px);
    padding-top: 10px;
    padding-left: 10px;
    background-color: #D9D9D9;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.sortable-placeholder {
    background-color: #465158; 
    height: 14vh; 
    margin-bottom: 4px; 
    border-radius: 6px; 
}

/* Dragging item style */
.dragging {
    opacity: 0.5;
    transform: scale(1.05); 
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

* {
    scrollbar-width: none;
    scrollbar-color: #6f6b6b #f1f1f1; 
}