{% extends "workq_main.jinja2" %}

{% block content %}
<div style="background-color: #f5f5f5; padding: 1rem; border-radius: 8px;">
    <h2 style="background-color: #e0e0e0; padding: 1rem; border-radius: 8px;">Actions history</h2>
    <div class="container-fluid">
    <div class="project-bar row">
        <div class="col-6 bar-wrapper">
            <div class="project-selector-bar dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" data-bs-container="body" aria-haspopup="true" aria-expanded="false">{{ active_project.name }}</button>
                <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
                    {% for project in projects %}
                        <a class="dropdown-item dropdown-project-item" id="{{ project.id }}">{{ project.name }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    <div style="margin-top: 1rem; display: flex; justify-content: space-between; align-items: center;">
        <div></div>
        <div style="font-size: 0.9rem; cursor: pointer;">
            <span style="margin-right: 0.5rem;">&#x1F50D;</span>Filter
        </div>
    </div>

    <div style="margin-top: 1rem; background-color: #e0e0e0; border-radius: 8px; padding: 1rem;">
        {% for action in actions %}
        <div style="background-color: white; border-radius: 8px; padding: 1rem; margin-bottom: 1rem; display: flex; justify-content: space-between; flex-wrap: wrap;">
            <div><strong>{{ action.type }}</strong></div>
            <div>By {{ action.user }}</div>
            <div>{{ action.timestamp.strftime('%d/%m/%Y %H:%M UTC%z') }}</div>
        </div>
        {% else %}
        <p>No actions found for this project.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
