{% extends "workq_main.jinja2" %}

{% block content %}
<div class="container">
  <div class="form-box2">
    <div class="form-box">
      <div class="form-header">
        <h2 class="form-title">Create Project</h2>
        <form id="create-project-form" method="POST" action="{{ request.route_url('pm_main') }}">
          <div class="form-inner">
            <input class="controls" type="text" id="name" name="name" placeholder="Name" required>

            <div class="add-group">
                    <label for="startdate">Start Date</label>
                    <input type="date" id="startdate" name="startdate" min="{{ now }}">
              </div>


              <div class="add-group">
                    <label for="finished_date">End Date</label>
                    <input type="date" id="enddate" name="enddate" min="{{ now }}">
                </div>

            <textarea class="controls full-width" id="description" name="description" placeholder="Description"></textarea>

            <div class="icon-preview full-width">
              <button class="buttons" type="submit" id="submit-button">Create</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  document.getElementById('create-project-form').addEventListener('submit', function() {
    // Espera a que el formulario se envíe y luego recarga la página
    setTimeout(function() {
      window.location.reload();
    }, 100);
  });
</script>
{% endblock content %}

