{% extends "workq_main.jinja2" %}
{% block stats %}
<div class="container-fluid">
    <div class="project-bar row">
        <div class="col-6 bar-wrapper">
            <div class="project-selector-bar dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" data-bs-container="body" aria-haspopup="true" aria-expanded="false">
                    {{ active_project.name }}
                </button>
                <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
                    {% for project in projects %}
                        <a class="dropdown-item dropdown-project-item" id="{{ project.id }}">{{ project.name }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- Gráfico de estadísticas -->
<div class="container mt-4">
    <div class="task-stats">
      <div class="row">
        <h3> Tasks completed</h3><span id ="count_comple" class="badge text-bg-success">{{ stats.completed }}</span>
      </div>
      <div class="row">
        <h3> Tasks assigned</h3><span id ="count_assign" class="badge text-bg-info">{{ stats.assigned }}</span>
      </div>
      <div class="row">
        <h3> Tasks pending</h3><span id ="count_late" class="badge text-bg-danger">{{ stats.late }}</span>
      </div>
    </div>
    <style>
    .task-stats .row {
        display: grid;
        grid-template-columns: 250px auto;
        align-items: center;
    }

    .task-stats .row h3 {
      width: 250px; /* Ajusta según tu diseño */
      margin: 0;
    }

    .task-stats .row span {
      margin-left: 20px; /* Espacio entre el h3 y el span */
    }
    </style>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div id="taskStatsChart" class="ct-chart ct-perfect-fourth"></div>
        </div>
    </div>
</div>

{% endblock stats %}
{% block footer_scripts %}
  <script>
    window.taskStatsData = {{ stats | tojson }};
  </script>

  <script src="https://cdn.jsdelivr.net/npm/chartist@0.11.4/dist/chartist.min.js"></script>
  <style>
  /* Asegúrate de que el contenedor tenga un tamaño fijo */
  #taskStatsChart {
    width: 600px;
    max-width: 400px;
    height: 300px;
    margin: 0 auto;
  }

  /* Etiquetas (números o texto en los bordes) */
  .ct-label {
    fill: #444;
    font-size: 14px;
    font-weight: bold;
  }

  /* Colores personalizados para cada parte de la gráfica */
  .ct-series-a .ct-slice-pie {
    fill: #198754; /* Verde */
  }

  .ct-series-b .ct-slice-pie {
    fill: #dc3545; /* Rojo */
  }

  .ct-series-c .ct-slice-pie {
    fill: #0dcaf0; /* Azul */
  }
  #count_comple{
  position: relative;
  left :5%;
   }
   #count_assign{
  position: relative;
  left :14%;
   }
   #count_late{
  position: relative;
  left :19%;
   }
</style>

  <script src="{{ request.static_url('worq:static/assets/stats_view.js') }}"></script>
{% endblock %}