<!DOCTYPE html>
<html lang="{{request.locale_name}}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="pyramid web application">
    <meta name="author" content="Pylons Project">
    <link rel="shortcut icon" href="{{request.static_url('worq:static/workq.png')}}">

    <title>WorkQ</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    {% block styles %}
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round|Material+Icons+Sharp|Material+Icons+Two+Tone" rel="stylesheet"/>
      <link rel="stylesheet" href="{{request.static_url('worq:static/assets/pm.css')}}">
      <link rel="stylesheet" href="{{request.static_url('worq:static/assets/style.css')}}">
      <link rel="stylesheet" href="{{request.static_url('worq:static/assets/main.css')}}">
      <link rel="stylesheet" href="{{request.static_url('worq:static/assets/task_view.css')}}">
      <link rel="stylesheet" href="{{request.static_url('worq:static/assets/customElements.css')}}">
    {% endblock %}

    {% block scripts %}
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
      <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <script src="{{request.static_url('worq:static/assets/sidebar-scripts.js')}}"></script>
      <script src="{{request.static_url('worq:static/assets/task_view.js')}}"></script>
      <script src="{{request.static_url('worq:static/assets/pm_main.js')}}"></script>
    {% endblock %}
      

  </head>
  <body>


    <div id="mySidebar" class="sidebar" onmouseleave="closeNav()" onmouseover="openNav()">
      <!-- Top Branding -->
      <div class="sidebar-header">
        <img src="{{request.static_url('worq:static/workq.png')}}" class="sidebar-logo">
        <span class="sidebar-title">WorkQ</span>
      </div>

      <div class="search-bar">
        <input type="text" id="search-input" placeholder="Search..." oninput="handleSearchInput(event)">
        <div id="autocomplete-results" class="autocomplete-results"></div>
      </div>

      <!-- Project List -->
      <ul class="sidebar-projects" id="sortable">
        {% for project in projects %}
          <li id="{{ project.id }}" class="ui-state-default project-item {% if project.id == active_project_id %}selected{% endif %}">
            <div class="project-icon-wrapper {% if project.id == active_project_id %}selected{% endif %}">
              <span class="project-icon material-icons-round">&#xea25</span>
            </div>
            <span class="project-label">{{ project.name }}</span>
            <span class="material-icons-round" id="drag-indicator">drag_indicator</span>
          </li>
        {% endfor %}
      </ul>
    </div>

    <div id="overlay-blur" class="blur-overlay"></div>
    
    <div class="toolbar">
      {% if user_role in ['superadmin', 'admin'] %}
        <a href="{{ request.route_url('request_management') }}">
          <span class="toolbar-icon material-icons-round">reply</span>
        </a>
      {% endif %}
      {% if user_role in ['superadmin', 'admin'] %}
      <a href="{{ request.route_url('edit_user') }}">
        <span class="toolbar-icon material-icons-round">person_add</span>
      </a>
      {% endif %}
      <div class="notification-icon">
        <span class="toolbar-icon material-icons-round">notifications</span>
      </div>
      <div class="calendar-icon">
        <span class="toolbar-icon material-icons-round">calendar_today</span>
      </div>
      <span class="toolbar-separator"></span>
      <div class="profile" id="profile-menu">
        <img src="{{request.static_url('worq:static/profile-icon.png')}}" class="toolbar-icon" id="profile-icon">
        <ul id="dropdown-menu">
          <li><p style="margin-bottom: 0;">Welcome {{ user_name }}</p></li>
          <li><p class="Role">{{user_role}}</p></li>
          <li><a href="{{ request.route_url('info_user') }}">Profile</a></li>
          <li><a href="">Tutorial</a></li>
          <li><a href="{{ request.route_url('logout') }}">Logout</a></li>
        </ul>
      </div>
    </div>

    <div class="main">
      {% if current_route == '/' or request.matched_route.name == 'task_view' %}
        {% if active_project_id  %}
          <div class="members-sidebar" id="membersSidebar" onclick="toggleMembersSidebar()">
              <i class="material-icons-round icon">groups</i>
              <div class="members-content">
                  <h3>Members</h3>
                  <ul class="user-list">
                      {% for user in users %}
                        <li class="user-item show-popup"
                            data-name="{{ user.name }}"
                            data-email="{{ user.email }}"
                            data-area="{{ user.area.area if user.area else '' }}"
                            data-tel="{{ user.tel if user.tel else '' }}">
                            <strong>{{ user.name }}</strong><br>
                            {{ user.email }}<br>
                        </li>
                    {% endfor %}
                  </ul>
              </div>
          </div>
          <div class="popup-container" id="popupContainer" style="display: none;">
            <div class="popup-box">
              <h5>Member Details</h5>
              <h5>Name: <span id="popupName"></span></h5>
              <p>Email: <span id="popupEmail"></span></p>
              <p>Tel: <span id="popupTel"></span></p>
              <p>Area: <span id="popupArea"></span></p>
            </div>
          </div>

        {% endif %}
      {% endif %}
      {% if request.matched_route.name == 'calendar' %}
        <style>
          #navigation {
            display: none;
          }
        </style>
        <div id="calendar-content">
          {% block mainContent %}
          
          {% endblock mainContent %}
        </div>
      {% else %}
      <div class="container" id="navigation">
        <ul class="nav nav-tabs" id="myTabs" role="tablist">

            {% if user_role in ['superadmin', 'admin', 'projectmanager'] %}
            <li class="nav-item" role="presentation">
                <button class="nav-link {% if user_role == 'superadmin' or user_role == 'admin' or user_role == 'projectmanager' %}active{% endif %}" id="pm-tab" data-bs-toggle="tab" data-bs-target="#pm" type="button" role="tab" aria-controls="pm">Projects</button>
            </li>
            {% endif %}
            <li class="nav-item" role="presentation">
                <button class="nav-link {% if user_role == 'user'%}active{% endif %}" id="tasks-tab" data-bs-toggle="tab" data-bs-target="#tasks" type="button" role="tab" aria-controls="tasks" aria-selected="false"><i class="fas fa-tasks me-1"></i> Tasks</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="stats-tab" data-bs-toggle="tab" data-bs-target="#stats" type="button" role="tab" aria-controls="stats" aria-selected="false"><i class="fas fa-chart-line me-1"></i> Stats</button>
            </li>
            {% if user_role in ['superadmin', 'admin'] %}
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="actions-tab" data-bs-toggle="tab" data-bs-target="#actions" type="button" role="tab" aria-controls="actions" aria-selected="false"><i class="fas fa-history me-1"></i>Logs</button>
            </li>
            {% endif %}
            {% if user_role in ['superadmin', 'admin', 'projectmanager'] %}
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="revision-tab" data-bs-toggle="tab" data-bs-target="#revision" type="button" role="tab" aria-controls="revision"><i class="fas fa-pencil-alt"></i> Revision</button>
            </li>
            {% endif %}
        </ul>
        <div class="tab-content" id="myTabsContent">
            {% block content %}
            {% endblock content %}
            <!-- Tab 1 -->
            <div class="tab-pane fade {% if user_role == 'superadmin' or user_role == 'admin' or user_role == 'projectmanager' %}show active{% endif %}" id="pm" role="tabpanel" aria-labelledby="pm-tab">
                {% block add_task %}
                {% endblock add_task %}
            </div>

            <!-- Tab 2 -->
            <div class="tab-pane fade show active" id="tasks" role="tabpanel" aria-labelledby="tasks-tab">
                {% block tasks %}
                {% endblock tasks %}
            </div>
            <!-- Tab 3 -->
            <div class="tab-pane fade show active" id="stats" role="tabpanel" aria-labelledby="stats-tab">
                {% block stats %}
                {% endblock stats %}
            </div>
            <!-- Tab 4 -->
            <div class="tab-pane fade show active" id="actions" role="tabpanel" aria-labelledby="actions-tab">
                
            </div>
            <!-- Tab 5 -->
            <div class="tab-pane fade show active" id="revision" role="tabpanel" aria-labelledby="revision-tab">
                {% block revision %}
                {% endblock revision %}
            </div>
        
        </div>
      </div>
      {% endif %}
    </div>
    <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="errorModalLabel">Error</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            {{ message }}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    {% if redirect %}
    <script>
      setTimeout(function() {
        window.location.href = "{{ request.route_url('home') }}";
      }, 5000);
    </script>
    {% endif %}
    <script>
      const projects = {{ projects|tojson }};
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
          const profileIcon = document.getElementById('profile-icon');
          const dropdownMenu = document.getElementById('dropdown-menu');
          const profileContainer = document.getElementById('profile-menu');
      
          profileIcon.addEventListener('click', function (event) {
            event.stopPropagation();
            dropdownMenu.style.display = dropdownMenu.style.display === 'block' ? 'none' : 'block';
          });
          document.addEventListener('DOMContentLoaded', function () {
            const message = "{{ message|default('') }}";
              if (message) {
                const errorModal = new bootstrap.Modal(document.getElementById('errorModal'));
                errorModal.show();
              }
            });

          document.addEventListener('click', function (event) {
            if (!profileContainer.contains(event.target)) {
              dropdownMenu.style.display = 'none';
            }
          });
        });
        function toggleMembersSidebar() {
            const sidebar = document.getElementById('membersSidebar');
            sidebar.classList.toggle('expanded');
        }

        document.addEventListener('click', function(event) {
            const sidebar = document.getElementById('membersSidebar');
            const isClickInside = sidebar.contains(event.target);

            if (!isClickInside && sidebar.classList.contains('expanded')) {
                sidebar.classList.remove('expanded');
            }
        });

        document.addEventListener('DOMContentLoaded', function () {
          const showPopupButtons = document.querySelectorAll('.show-popup');
          const form = document.getElementById('edit-user-form');

          function resetFormFields() {
            if (form) {
              form.reset();
              document.getElementById('user_id').value = '';
              document.getElementById('form-search-input').value = '';
              document.getElementById('form-autocomplete-results').innerHTML = '';
            }
          }

          showPopupButtons.forEach(btn => {
            btn.addEventListener('click', () => {
              document.querySelector('.popup-container').classList.add('active');
              resetFormFields();
            });
          });

          document.querySelectorAll('.popup-container, .close-btn').forEach((element) => {
            element.addEventListener('click', (e) => {
              if (e.target.classList.contains('popup-container') || e.target.classList.contains('close-btn')) {
                document.querySelector('.popup-container').classList.remove('active');
                const backdrop = document.querySelector('.modal-backdrop');
                if (backdrop) backdrop.remove();
              }
            });
          });
        });

        document.addEventListener('DOMContentLoaded', function () {
          const userItems = document.querySelectorAll('.user-item');
          const popupContainer = document.getElementById('popupContainer');
          const popupName = document.getElementById('popupName');
          const popupEmail = document.getElementById('popupEmail');
          const popupTel = document.getElementById('popupTel');
          const popupArea = document.getElementById('popupArea');

          userItems.forEach(item => {
            item.addEventListener('click', function (e) {

              popupName.textContent = this.dataset.name;
              popupEmail.textContent = this.dataset.email;
              popupTel.textContent = this.dataset.tel;
              popupArea.textContent = this.dataset.area;
              popupContainer.style.display = 'block';
            });
          });
        });
        // Mostrar el modal si hay un mensaje de error
          document.addEventListener('DOMContentLoaded', function () {
            const message = "{{ message|default('') }}";
            if (message && message !== "None") {
              const errorModal = new bootstrap.Modal(document.getElementById('errorModal'));
              errorModal.show();
            }
          });
      </script>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const calendarIcon = document.querySelector('.calendar-icon .toolbar-icon');
        // Redirect to the calendar URL when the calendar icon is clicked
        calendarIcon.addEventListener('click', function () {
          window.location.href = "{{ request.route_url('calendar') }}";
        });
        const tabs = document.querySelectorAll('.nav-link[data-bs-toggle="tab"]');
        // Recibe el tab activo desde el backend (por ejemplo, 'tasks', 'project', etc.)
        const activeTabId = "{{ active_tab|default('') }}-tab";

        // Marcar el tab activo según el valor recibido
        tabs.forEach(tab => {
          if (tab.id === activeTabId) {
            tab.classList.add('active');
          } else {
            tab.classList.remove('active');
          }
          tab.addEventListener('click', function (event) {
            event.preventDefault();

            // Define las rutas para cada tab
            const tabRoutes = {
              'pm-tab': '/pm_main',
              'tasks-tab': '/task_view',
              'stats-tab': '/stats_view',
              'actions-tab': '/action_view',
              'revision-tab': '/revision_view'
            };

            // Redirige si existe una ruta asignada
            if (tabRoutes[this.id]) {
              window.location.href = tabRoutes[this.id];
            }
          });
        });
      });
    </script>
    <script>
      document.getElementById('uploadForm').addEventListener('submit', async function (e) {
        e.preventDefault();

        const formData = new FormData(this);

        try {
          const response = await fetch('/upload_file', {
            method: 'POST',
            body: formData
          });

          const data = await response.json();

          const messageDiv = document.getElementById('uploadMessage');
          messageDiv.innerText = data.message;
          messageDiv.className = data.status === 'success'
            ? 'alert alert-success'
            : 'alert alert-danger';

        } catch (error) {
          console.error('Error al subir archivo:', error);
          const messageDiv = document.getElementById('uploadMessage');
          messageDiv.innerText = 'Error al conectar con el servidor.';
          messageDiv.className = 'alert alert-danger';
        }
      });
</script>
{% block footer_scripts %}
{% endblock %}
  </body>
</html>
